
<nav class="navbar-dark bg-inverse">
  <div class="container">
    <div class="row align-items-center">
      <div class="col navbar-brand">
        <a routerLink="">
          <img src="/assets/images/btc-1.png" class="nav-logo-img" alt="CRYPTO BOARD">
        </a>
        Crypto Board
        <social-media class="pull-right"></social-media>
      </div>
    </div>
  </div>
</nav>


<!--<nav class="navbar-dark bg-inverse">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-1 nav-logo navbar-brand align-middle">-->
        <!--<a routerLink="">-->
          <!--<img src="/assets/images/btc-1.png" class="nav-logo-img" alt="CRYPTO BOARD">-->
        <!--</a>-->
        <!--Crypto Board-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->
