nav {
  height: 2.2rem;
  background-color: #34434b;
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
  margin-top: 2rem;
}

.fa-envelope {
  font-size: 1rem;
  color: lightgray;
}

.footer-brand {

  font-size: 0.8rem;
  font-style: italic;
  color: lightgray;
}
