<nav class="navbar-dark bg-inverse">
  <div class="container">
    <div class="row align-middle">
      <div class="col-12 footer-brand text-center">
        <div (click)="shareToFacebook()" class="align-middle fa fa-facebook-official" angulartics2On="click" angularticsAction="ShareClick" angularticsLabel="share-to-facebook"></div>
        <div (click)="shareToTwitter()" class="align-middle fa fa-twitter" angulartics2On="click" angularticsAction="ShareClick" angularticsLabel="share-to-twitter"></div>
        <div (click)="shareToWhatsapp()" class="align-middle fa fa-whatsapp" angulartics2On="click" angularticsAction="ShareClick" angularticsLabel="share-to-whatsapp"></div>
        <div (click)="shareToTelegram()" class="align-middle fa fa-telegram" angulartics2On="click" angularticsAction="ShareClick" angularticsLabel="share-to-telegram"></div>
      </div>
    </div>
  </div>
</nav>


