<nav class="navbar-dark bg-inverse">
  <div class="row text-center footer-brand">
    <div class="col mt-2">
      <a href="#" data-target="#termsModal" data-toggle="modal" data-backdrop="static" class="terms">Terms</a>&nbsp;&nbsp;&nbsp;
      &copy; Copyright 2018 - CryptoPort.biz
      &nbsp;&nbsp;&nbsp;
      <a href="mailto:{{supportEmailAddress}}"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
  <div class="footer-donate pt-3 pb-2">
    <wallets></wallets>
  </div>
  <div>
    <terms></terms>
  </div>
</nav>



