nav {
  background-color: #34434b;
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
  margin-top: 2rem;
}

.fa {
  font-size: 1.5rem;
}

.fa-facebook-official,
.fa-twitter,
.fa-whatsapp,
.fa-telegram{
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.fa-facebook-official {
  color: white;
}

.footer-brand {
  font-size: 2.8rem;
  font-weight: bold;
  font-style: italic;
  color: #fff;
}
