.container{
  padding-bottom: 1rem;
}

.form-group{
padding: 0.5rem;
}

#selectedCurrency {
  padding: 0;
}

.crypto-currencies-select-box,
.fiat-currencies-select-box{

}

.crypto-currencies-select-box {
  width: 100%;
  /*padding-left: 0;*/
  /*margin-bottom: 0;*/
  background-color: #344349;
}

#cryptocurrencies {
  margin: 1rem 0 1.5rem 0;
  color: #ccc;

}
