<div class="container" style="border: 0px solid;">
  <div class="row justify-content-center">
    <div class="form-group">
      <select id="selectedCurrency" name="selectedCurrency"
              [(ngModel)]="selectedCurrency"
              (change)="selectCurrency($event.target.value)"
              id="fiat"
              class="form-control btn btn-primary fiat-currencies-select-box">
        <option value="">Select fiat currency</option>
        <option *ngFor="let currency of currencies" value="{{currency}}">{{currency.toUpperCase()}}</option>
      </select>
    </div>

    <div class="form-group">
      <ss-multiselect-dropdown id="cryptocurrencies"
                               name="cryptocurrencies" [texts]="myTexts" [settings]="mySettings"
                               [options]="cryptoCurrOptions" [(ngModel)]="optionsModel"
                               (ngModelChange)="filterChange($event)">
      </ss-multiselect-dropdown>
    </div>

    <div class="form-group">
      <button type="button" (click)="changeDashboardItemsPinnedStatus()" class="btn btn-info btn-pin" title="{{messages.TOOLTIP_PIN_BUTTON}}">
        <i [ngClass]="dashboardItemsPinned ? 'fa fa-thumbtack' : 'fa fa-thumbtack fa-rotate-45'"></i>
      </button>
      <!--{{dashboardItemsPinned}}-->
    </div>
  </div>
</div>
