<div class="container">
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="selectedCurrency" class="sr-only">Select Currency</label>
                        <select id="selectedCurrency" name="selectedCurrency"
                                [(ngModel)]="selectedCurrency"
                                (change)="selectCurrency($event.target.value)"
                                id="fiat"
                                class="form-control btn btn-primary fiat-currencies-select-box">
                            <option value="">Select fiat currency</option>
                            <option *ngFor="let currency of currencies" value="{{currency}}">{{currency.toUpperCase()}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group" id="crypto-list-form-group">
                        <ss-multiselect-dropdown id="cryptocurrencies"
                                                 name="cryptocurrencies" [texts]="myTexts" [settings]="mySettings"
                                                 [options]="cryptoCurrOptions" [(ngModel)]="optionsModel"
                                                 (ngModelChange)="filterChange($event)">
                        </ss-multiselect-dropdown>
                    </div>
                </div>
                <div class="col-sm-4">

                </div>
            </div>
        </div>
    </form>
</div>
