.container {
  padding-bottom: 1rem;
}

.form-group {
  padding: 0.5rem;
}

#selectedCurrency {
  padding: 0;
}

.crypto-currencies-select-box,
.fiat-currencies-select-box {

}

.crypto-currencies-select-box {
  width: 100%;
  /*padding-left: 0;*/
  /*margin-bottom: 0;*/
  background-color: #344349;
}

#cryptocurrencies {
  margin: 1rem 0 1.5rem 0;
  color: #ccc;

}

.save-buttons {

}

.btn-pin {
  margin-top: 0.1rem;
  border: none;
  background-color: transparent;
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
}

.btn-pin:hover,
.btn-pin:disabled,
.btn-pin:active {
  background-color: lightgray;
  border-color: #3f515a;
}

.fa-save,
.fa-eraser {
  color: #34434b;
  font-size: 2rem;
}

@media screen and (min-device-width: 320px) and (max-device-width: 740px) {
  .container {
    padding-bottom: 0;
  }

  .form-group {
    padding-bottom: 0.5rem;
  }

  .btn-pin {
    margin-top: 0;
  }

  .fa-save,
  .fa-eraser {
    color: #34434b;
    font-size: 2rem;
  }
}
