.card-deck{

}

.empty-board{
  font-size: 1.5rem;
  font-weight: bolder;
  height: 25rem;
  background-color: gainsboro;
  border: 1px solid lightgray;
  border-radius: 3rem;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.24);
}

.alert-secondary{
  color: #6c757d;
}
.fa-circle-o-notch{
  color: #34434b;
}
