.container {

}

.ticker {
  font-size: 1.2rem;
  color: #212529;
  margin-bottom: 0.8rem;
}

.ticker-title {
  font-weight: bolder;
}

.ticker-value {
  font-weight: normal;
  font-style: italic;
}

/*mobile*/
@media screen and (min-device-width : 320px) and (max-device-width : 740px) {
  .ticker {
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
  }
}

/*@media screen and (min-device-width : 320px) and (max-device-width : 1280px) {*/
