.card {
    min-width: 20rem;
}

.card-header {
}

.card-body {
    padding: 1rem 0 1rem 0;
    font-size: 0.9rem;
    text-align: center;
}

.metric,
.metric-title,
.metric-value {
    text-transform: uppercase;
}

.metric-title {
    font-weight: bolder;
}

.value-increased {
    font-weight: bolder;
    color: green;
}

.value-decreased {
    font-weight: bolder;
    color: red;
}