.card {
  width: 20rem;
}

.card-header {

}

.card-body {
  padding: 1rem 0 1rem 0;
  font-size: 0.9rem;
  text-align: center;
}

.card-footer {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 0.7rem;
  font-style: italic;
}

.metric,
.metric-title,
.metric-value {
  text-transform: uppercase;
}

.metric-title {
  font-weight: bolder;
}

.value-increased {
  font-weight: bolder;
  color: green;
}

.value-decreased {
  font-weight: bolder;
  color: red;
}

/*@media screen and (min-device-width : 320px) and (max-device-width : 740px)*/

@media screen and (min-device-width: 320px) and (max-device-width: 740px) and (orientation: landscape) {
  .card {
    width: 15rem;
  }

  .card-body {
    padding: 1rem 0 1rem 0;
    font-size: 0.9rem;
  }

  .card-footer {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.7rem;
  }

  .metric,
  .metric-title,
  .metric-value {
    font-size: 0.7rem;
  }

  .metric {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

/* Galaxy S5, S6 portrait */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait),

screen and (min-width: 414px)
and (max-width: 732px)
and (orientation: portrait) {
  .card {
    width: 18rem;
    /*border: 1px solid;*/
  }

  .card-body {
    padding: 1rem 0 1rem 0;
    font-size: 0.9rem;
  }

  .card-footer {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.7rem;
  }

  .metric,
  .metric-title,
  .metric-value {
    font-size: 0.8rem;
  }

  .metric {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

}
