.card {
    min-width: 20rem;
}

.card-header {
}

.card-body {
    padding: 1rem 0 1rem 0;
    font-size: 0.9rem;
    text-align: center;
}

.card-footer{
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 0.7rem;
  font-style: italic;
}

.metric,
.metric-title,
.metric-value {
    text-transform: uppercase;
}

.metric-title {
    font-weight: bolder;
}

.value-increased {
    font-weight: bolder;
    color: green;
}

.value-decreased {
    font-weight: bolder;
    color: red;
}
