<div class="card bg-light m-2">
  <div class="card-header">
    <div><b>{{ coin.name }}</b> ({{ coin.symbol }})</div>
    <div>
      {{coin['price_'+fiat] }} {{fiat.toUpperCase()}}
      <span *ngIf="coin.percent_change_24h !== null" [class]="coin.percent_change_24h.charAt(0)==='-' ? 'value-decreased' : 'value-increased' ">
                ({{coin.percent_change_24h }} %)
            </span>
    </div>
  </div>

  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-3 metric">
          <div class="metric-title">Rank</div>
          <div class="metric-value">{{coin.rank}}</div>
        </div>
        <div class="col-5 metric">
          <div class="metric-title">market cap</div>
          <div class="metric-value">${{coin.market_cap_usd | shortNumber}}</div>
        </div>
        <div class="col-4 metric">
          <div class="metric-title">7 days</div>
          <div *ngIf="coin.percent_change_7d !== null" [class]="coin.percent_change_7d.charAt(0)==='-' ? 'metric-title value-decreased' : 'wmetric-title value-increased' ">
            {{coin.percent_change_7d }} %
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer h-25">
    Powered by CoinMarketCap
  </div>

</div>


