<nav class="navbar-dark bg-inverse">
    <div class="container">
        <div class="row align-middle">
            <div class="col-sm-1 nav-logo">
                <a routerLink="">
                    <img src="/assets/images/btc-1.png" class="nav-logo" alt="CRYPTO BOARD">
                </a>
            </div>
            <div class="col-sm-5 text-left navbar-brand">
                <!--Crypto <i class="fa fa-btc fa-5x"></i>oard-->
                Crypto Board
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
</nav>
